{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-function-bind",
    "syntax-pipeline-operator",
    "transform-flow-strip-types",
    "react-flow-props-to-prop-types"
  ],
  "presets": [
    "env",
    "react",
    "flow"
  ]
}
